@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway];
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  }
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 0rem;
}



* {
  font-weight: bold;
}
/* Resume Skills */

@media (max-width: 570px) {
  .skills {
    width: 90% !important;
    margin: auto;
  }
  .skills span {
    display: inline-block;
  }
}

.active {
  color: rgb(86 81 229 / var(--tw-text-opacity));
  border-bottom: 2px solid rgb(86 81 229 / var(--tw-text-opacity));
  font-weight: 900 !important;
  width: fit-content;
}
.active2 {
  color: rgb(86 81 229 / var(--tw-text-opacity));
  font-weight: 900 !important;
  width: fit-content;
}

a:hover {
  color: rgb(86 81 229 / var(--tw-text-opacity));
}


.nav {
  background: rgba(86, 81, 229, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
